.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  padding: var(--padding-page);
  gap: 40px;
}

.login-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-title-subtitle);
}

.login-header .title-page {
  color: var(--color-primary);
  font-size: 32px;
  letter-spacing: 2px;
}

.login-form {
  gap: var(--gap-md);
}

@media (min-width: 768px) {
  .login-page {
    align-items: center;
  }
  .login-form {
    width: 100%;
    max-width: 380px;
  }
  .login-header {
    text-align: center;
  }
}
